@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");

:root {
  --color1: #7c5dfa;
  --color2: #9277ff;
  --color3: #1e2139;
  --color4: #252945;
  --color5: #dfe3fa;
  --color6: #888eb0;
  --color7: #7e88c3;
  --color8: #0c0e16;
  --color9: #ec5757;
  --color10: rgb(255, 151, 151);
  --color11: #f8f8fb;
  --color12: #141625;
}

* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

*:focus {
  outline: none;
}

.heading-L {
  font-weight: bold;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -1px;
}

.heading-M {
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.5px;
}
.heading-S {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.heading-S-variant {
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.body-font {
  font-weight: medium;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.body-font-variant {
  font-weight: medium;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

::-webkit-calendar-picker-indicator {
  padding-right: 16px;
  height: 16px;
  width: 16px;
  opacity: 50%;
}
